.header {
    .header-title {
        float: left;
        padding-top: 2%;
        width: 30%;
        height: 100%;
    }
    .header-link {
        float: right;
        padding-top: 1%;
        width: 65%;
        height: 100%;
        text-align: center;
    }
}
